# Effect of Travel on Baseball Performance
***
**Team Members:** Brandon Zink, Cameron Connor, Abiel Fattore

In this project, we will look at the effect of travel in terms of distance in miles and number of time zones changed on the traveling teams performance.

In [58]:
import numpy as np 
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline
from math import sin, cos, sqrt, atan2, radians
import math
from scipy import stats

In [59]:
#Read in the data, store in appropriate data frames

dfStadiumsInfo = pd.read_csv('data/Stadium_Info.csv')

#Import and clean the game logs data
dfGameInfo = pd.read_csv('data/Game_Logs.csv', low_memory=False, header=None)
#Name all of the columns
dfGameInfo.columns = (['date','gameNumber','day','awayTeam','awayTeamLg','awayTeamGmNmbr','homeTeam','homeTeamLg','homeTeamGmNmbr','awayScore','homeScore','lengthInOuts','timeOfDay','completion','forfeit','protest','parkID','attendance','lengthOfGameInMinutes','awayLineScore','homeLineScore','awayAB','awayH','away2B','away3B','awayHR','awayRBI','awaySH','awaySF','awayHBP','awayBB','awayIBB','awaySO','awaySB','awayCS','awayGIDP','awayCatchInf','awayLOB','awayPitchersUsed','awayIndivER','awayER','awayWildPitch','awayBalk','awayPO','awayAssists','awayE','awayPassedBalls','awayDoubPlay','awayTripPlay','homeAB','homeH','home2B','home3B','homeHR','homeRBI','homeSH','homeSF','homeHBP','homeBB','homeIBB','homeSO','homeSB','homeCS','homeGIDP','homeCatchInf','homeLOB','homePitchersUsed','homeIndivER','homeER','homeWildPitch','homeBalk','homePO','homeAssists','homeE','homePassedBalls','homeDoubPlay','homeTripPlay','homePlateUmpID','homePlateUmpName','1BUmpID','1BUmpName','2BUmpID','2BUmpName','3BUmpID','3BUmpName','LFUmpID','LFUmpName','RFUmpID','RFUmpName','awayManagerID','awayManagerName','homeManagerID','homeManagerName','winPitcherID','winPitcherName','losePitcherID','losePitcherName','savePitcherID','savePitcherName','GWRBIHitterID','GWRBIHitterName','awaySPID','awaySPName','homeSPID','homeSPName','away1ID','away1Name','away1POS','away2ID','away2Name','away2POS','away3ID','away3Name','away3POS','away4ID','away4Name','away4POS','away5ID','away5Name','away5POS','away6ID','away6Name','away6POS','away7ID','away7Name','away7POS','away8ID','away8Name','away8POS','away9ID','away9Name','away9POS','home1ID','home1Name','home1POS','home2ID','home2Name','home2POS','home3ID','home3Name','home3POS','home4ID','home4Name','home4POS','home5ID','home5Name','home5POS','home6ID','home6Name','home6POS','home7ID','home7Name','home7POS','home8ID','home8Name','home8POS','home9ID','home9Name','home9POS','addInfo','infoAquisition'])
#Remove the last two digits of parkID since they are useless
dfGameInfo['parkID'] = dfGameInfo['parkID'].astype(str).str[:-2].astype(str)
#Get rid of games in Tokyo, Montreal, Puerto Rico, Disney World, Sydney, Fort Bragg
dfGameInfo = dfGameInfo[dfGameInfo['parkID'] != 'TOK']
dfGameInfo = dfGameInfo[dfGameInfo['parkID'] != 'MON']
dfGameInfo = dfGameInfo[dfGameInfo['parkID'] != 'SJU']
dfGameInfo = dfGameInfo[dfGameInfo['parkID'] != 'LBV']
dfGameInfo = dfGameInfo[dfGameInfo['parkID'] != 'SYD']
dfGameInfo = dfGameInfo[dfGameInfo['parkID'] != 'FTB']

dfGameInfo.head()

,date,gameNumber,day,awayTeam,awayTeamLg,awayTeamGmNmbr,homeTeam,homeTeamLg,homeTeamGmNmbr,awayScore,...,home7Name,home7POS,home8ID,home8Name,home8POS,home9ID,home9Name,home9POS,addInfo,infoAquisition
2,20000403,0,Mon,COL,NL,1,ATL,NL,1,0,...,Eddie Perez,2,weisw001,Walt Weiss,6,maddg002,Greg Maddux,1,NaN,Y
3,20000403,0,Mon,MIL,NL,1,CIN,NL,1,3,...,Aaron Boone,5,tuckm001,Michael Tucker,7,harnp001,Pete Harnisch,1,NaN,Y
4,20000403,0,Mon,SFN,NL,1,FLO,NL,1,4,...,Brant Brown,9,redmm001,Mike Redmond,2,ferna001,Alex Fernandez,1,NaN,Y
6,20000403,0,Mon,SDN,NL,1,NYN,NL,3,1,...,Melvin Mora,8,ordor001,Rey Ordonez,6,leita001,Al Leiter,1,NaN,Y
7,20000403,0,Mon,CHN,NL,3,SLN,NL,1,1,...,Eric Davis,9,mathm001,Mike Matheny,2,kiled001,Darryl Kile,1,NaN,Y

In [60]:
#Team ID Lookup
#This is used across multiple functions to give each team a specific number that can be used in lookups (returns 0 through 29, else -1)

def team_ID_lookup(teamID):
    teamMatrix = ['ANA','ARI','ATL','BAL','BOS','CHN','CHA','CIN','CLE','COL','DET','FLO','HOU','KCA','LAN','MIL','MIN','WAS','NYN','NYA','OAK','PHI','PIT','SLN','SDN','SFN','SEA','TBA','TEX','TOR']
    for i in range (0,30):
        if(teamMatrix[i] == teamID):
            return i
    return -1

In [61]:
#Find Distance
#This function finds the distance between two sets of lat, long

def find_distance(latitude1, longitude1, latitude2, longitude2):
    # approximate radius of earth in mi
    R = 3959.0

    lat1 = radians(latitude1)
    lon1 = radians(longitude1)
    lat2 = radians(latitude2)
    lon2 = radians(longitude2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    return distance

In [62]:
#Get the time zone difference between two stadiums, returns a value between -3 and 3, where -3 means that the team traveled
#3 hours westward, and 3 means that the team traveled 3 hours eastward. Takes inputs as 3 letter code for teams. Returns
#-5 if either team is not found.

def find_time_zone_difference(awayTeam, homeTeam):
    #Convert the dataframe to an array to make it easier to loop through
    distance_array = dfStadiumsInfo.values
    
    homeTeamTZ = 1000
    awayTeamTZ = -1000
    
    #Find the time zones for the two teams
    for i in range(0,30):
        if(distance_array[i][1] == homeTeam):
            homeTeamTZ = distance_array[i][4]
        if(distance_array[i][1] == awayTeam):
            awayTeamTZ = distance_array[i][4]
    
    if(homeTeamTZ - awayTeamTZ > 3 or homeTeamTZ - awayTeamTZ < -3):
        return -5
    else:
        return homeTeamTZ - awayTeamTZ

In [63]:
#Gets the distance stored in the distance matrix, returns 0 if not yet updated

def get_distance_matrix(matrix, team1ID, team2ID):
    if(matrix[team1ID][team2ID] > 0):
        return matrix[team1ID][team2ID]
    elif (matrix[team2ID][team1ID] > 0):
        return matrix[team2ID][team1ID]
    else:
        return 0

In [64]:
#Creates/resets the distance matrix to all 0, returns the matrix

def start_distance_matrix():
    return np.zeros((30, 30), dtype=float)

#initialize the distance matrix
dist_matrix = start_distance_matrix()

In [65]:
#Updates a position in the matrix to the specified distance, returns the input matrix

def update_distance_matrix(matrix, team1ID, team2ID, distance):
    matrix[team1ID][team2ID] = distance
    matrix[team2ID][team1ID] = distance
    return matrix

In [66]:
#This gets the distance between two stadiums from the stored matrix, and if it's not there, it calculates it and stores it
#in there (dist_matrix)

def get_distance(awayTeam, homeTeam):
    global dist_matrix
    
    stadium_info_array = dfStadiumsInfo.values
    distance = 0
    #get the distance between the stadiums from the distance matrix if it has already been updated
    distance = get_distance_matrix(dist_matrix, team_ID_lookup(awayTeam), team_ID_lookup(homeTeam))
    
    #if it has not been updated yet, update it
    if(distance == 0):
        #loop through the stadium matrix to find the correct row, get the lat and long from that row, calculate the distance,
        #and then update the matrix to include that distance
        awayLat = awayLong = homeLat = homeLong = -1.0
        for i in range(0,30):
            
            if(stadium_info_array[i][1] == awayTeam):
                awayLat = stadium_info_array[i][2]
                awayLong = stadium_info_array[i][3]
                
            if(stadium_info_array[i][1] == homeTeam):
                homeLat = stadium_info_array[i][2]
                homeLong = stadium_info_array[i][3]
            
        distance = find_distance(awayLat, awayLong, homeLat, homeLong)
                
        dist_matrix = update_distance_matrix(dist_matrix, team_ID_lookup(awayTeam), team_ID_lookup(homeTeam), distance)
        
    return distance

In [67]:
def OBP_calc(H, BB, HBP, AB, SF):
    return ((H+BB+HBP)/(BB+HBP+AB+SF))

def SLG_calc(H, twoB, threeB, HR, AB):
    return (((H-(twoB+threeB+HR))+(twoB*2)+(threeB*3)+(HR*4))/AB)
    
def ISO_calc(SLG, BA):
    return SLG-BA
    
def FIP_calc(HR, HBP, BB, K, IP):
    return ((((HR*13)+(3*(HBP+BB))-(2*K))/IP)+3.2)

In [68]:
#This just checks the distance matrix to make sure it is updating correctly

def check_distance_matrix():
    for i in range(0,30):
        print(dist_matrix[i])

In [89]:
#This gets us the data that we need for the analysis
dfGameData = dfGameInfo[['date','awayTeam','homeTeam','awayScore','homeScore','lengthInOuts','attendance','awayAB','awayH',
                                  'away2B','away3B','awayHR','awayRBI','awaySH','awaySF','awayHBP','awayBB','awaySO',
                                 'awayER','homeAB','homeH','home2B','home3B','homeHR','homeRBI','homeSH','homeSF','homeHBP',
                                  'homeBB','homeSO','homeER']].copy()


#Here we add the columns that we need including distance, time zones, OBP, SLG, etc.
dfGameData['distance'] = -1
dfGameData['timeZoneChange'] = -1
dfGameData['away Batting R/9'] = -1.0
dfGameData['away Batting H/9'] = -1.0
dfGameData['away Batting BB/9'] = -1.0
dfGameData['away Batting K/9'] = -1.0
dfGameData['awayBA'] = -1.0
dfGameData['awayOBP'] = -1.0
dfGameData['awaySLG'] = -1.0
dfGameData['awayISO'] = -1.0
dfGameData['away Pitching H/9'] = -1.0
dfGameData['away Pitching BB/9'] = -1.0
dfGameData['away Pitching K/9'] = -1.0
dfGameData['awayERA'] = -1.0
dfGameData['awayFIP'] = -1.0


#Loop through an calculate the values 
#WARNING: Not pretty
for i, row in dfGameInfo.iterrows():
    
    #The number of innings the away team hit and pitched
    away_innings_hit = math.ceil(row['lengthInOuts']/6.0)
    away_innings_pitch = math.floor(row['lengthInOuts']/6.0)
    
    #distance
    distance_val = get_distance(str(row['awayTeam']), str(row['homeTeam']))
    dfGameData.set_value(i, 'distance', distance_val)
    
    #time zone change
    t_z = find_time_zone_difference(str(row['awayTeam']), str(row['homeTeam']))
    dfGameData.set_value(i, 'timeZoneChange', t_z)
    
    #away batting R/9
    bat_run_per_nine = row['awayScore']*(9.0/away_innings_hit)
    dfGameData.set_value(i, 'away Batting R/9', bat_run_per_nine)
    
    #away batting H/9
    bat_hit_per_nine = row['awayH']*(9.0/away_innings_hit)
    dfGameData.set_value(i, 'away Batting H/9', bat_hit_per_nine)
    
    #away batting BB/9
    bat_walk_per_nine = row['awayBB']*(9.0/away_innings_hit)
    dfGameData.set_value(i, 'away Batting BB/9', bat_walk_per_nine)
    
    #away batting K/9
    bat_k_per_nine = row['awaySO']*(9.0/away_innings_hit)
    dfGameData.set_value(i, 'away Batting K/9', bat_k_per_nine)
    
    #away BA
    BA = row['awayH']/row['awayAB']
    dfGameData.set_value(i, 'awayBA', BA)
    
    #away OBP
    OBP = OBP_calc(row['awayH'], row['awayBB'], row['awayHBP'], row['awayAB'], row['awaySF'])
    dfGameData.set_value(i, 'awayOBP', OBP)
    
    #away SLG
    SLG = SLG_calc(row['awayH'], row['away2B'], row['away3B'], row['awayHR'], row['awayAB'])
    dfGameData.set_value(i, 'awaySLG', SLG)
    
    #away ISO
    ISO = ISO_calc(SLG_calc(row['awayH'], row['away2B'], row['away3B'], row['awayHR'], row['awayAB']), row['awayH']/row['awayAB'])
    dfGameData.set_value(i, 'awayISO', ISO)
    
    #away pitching H/9
    pit_hit_per_nine = row['homeH']*(9.0/away_innings_pitch)
    dfGameData.set_value(i, 'away Pitching H/9', pit_hit_per_nine)
    
    #away pitching BB/9
    pit_walk_per_nine = row['homeBB']*(9.0/away_innings_pitch)
    dfGameData.set_value(i, 'away Pitching BB/9', pit_walk_per_nine)
    
    #away pitching K/9
    pit_k_per_nine = row['homeSO']*(9.0/away_innings_pitch)
    dfGameData.set_value(i, 'away Pitching K/9', pit_k_per_nine)
    
    #away ERA
    ERA = row['homeER']*(9.0/away_innings_pitch)
    dfGameData.set_value(i, 'awayERA', ERA)
    
    #away FIP
    FIP = FIP_calc(row['homeHR'], row['homeHBP'], row['homeBB'], row['homeSO'], away_innings_pitch)
    dfGameData.set_value(i, 'awayFIP', FIP)

In [70]:
#Create a dataframe for each distance section and time zone change
dfGameData = dfGameData.dropna()
dfGameData0_500 = dfGameData.loc[(dfGameData['distance'] < 500) & (dfGameData['distance'] >= 1)]
dfGameData500_1000 = dfGameData.loc[(dfGameData['distance'] < 1000) & (dfGameData['distance'] >= 500)]
dfGameData1000_2000 = dfGameData.loc[(dfGameData['distance'] < 2000) & (dfGameData['distance'] >= 1000)]
dfGameData2000 = dfGameData.loc[(dfGameData['distance'] < 10000) & (dfGameData['distance'] >= 2000)]
dfGameData3hourswest = dfGameData.loc[dfGameData['timeZoneChange'] == -3]
dfGameData2hourswest = dfGameData.loc[dfGameData['timeZoneChange'] == -2]
dfGameData1hourswest = dfGameData.loc[dfGameData['timeZoneChange'] == -1]
dfGameData0hours = dfGameData.loc[dfGameData['timeZoneChange'] == 0]
dfGameData1hourseast = dfGameData.loc[dfGameData['timeZoneChange'] == 1]
dfGameData2hourseast = dfGameData.loc[dfGameData['timeZoneChange'] == 2]
dfGameData3hourseast = dfGameData.loc[dfGameData['timeZoneChange'] == 3]

In [71]:
dfGameData3hourseast.mean()

date                 NaN
awayTeam             NaN
homeTeam             NaN
awayScore            NaN
homeScore            NaN
lengthInOuts         NaN
attendance           NaN
awayAB               NaN
awayH                NaN
away2B               NaN
away3B               NaN
awayHR               NaN
awayRBI              NaN
awaySH               NaN
awaySF               NaN
awayHBP              NaN
awayBB               NaN
awaySO               NaN
awayER               NaN
homeAB               NaN
homeH                NaN
home2B               NaN
home3B               NaN
homeHR               NaN
homeRBI              NaN
homeSH               NaN
homeSF               NaN
homeHBP              NaN
homeBB               NaN
homeSO               NaN
homeER               NaN
distance             NaN
timeZoneChange       NaN
away Batting R/9     NaN
away Batting H/9     NaN
away Batting BB/9    NaN
away Batting K/9     NaN
awayBA               NaN
awayOBP              NaN
awaySLG              NaN
awayISO              NaN
away Pitching H/9    NaN
away Pitching BB/9   NaN
away Pitching K/9    NaN
awayERA              NaN
awayFIP              NaN
dtype: float64

In [72]:
print ("p values at < 500 miles traveled")
print ("--------------------------------")
print ("< 500 miles distance count: \t\t\t\t",len(dfGameData0_500.index))
print ("< 500 miles distance away bat. R/9 p value: \t\t",(stats.ttest_ind(dfGameData0_500['away Batting R/9'], dfGameData['away Batting R/9'])[1]))
print ("< 500 miles distance away bat. H/9 p value: \t\t",(stats.ttest_ind(dfGameData0_500['away Batting H/9'], dfGameData['away Batting H/9'])[1]))
print ("< 500 miles distance away bat. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData0_500['away Batting BB/9'], dfGameData['away Batting BB/9'])[1]))
print ("< 500 miles distance away bat.  K/9 p value: \t\t",(stats.ttest_ind(dfGameData0_500['away Batting K/9'], dfGameData['away Batting K/9'])[1]))
print ("< 500 miles distance away bat. BA p value: \t\t",(stats.ttest_ind(dfGameData0_500['awayBA'], dfGameData['awayBA'])[1]))
print ("< 500 miles distance away bat. OBP p value: \t\t",(stats.ttest_ind(dfGameData0_500['awayOBP'], dfGameData['awayOBP'])[1]))
print ("< 500 miles distance away bat. SLG p value: \t\t",(stats.ttest_ind(dfGameData0_500['awaySLG'], dfGameData['awaySLG'])[1]))
print ("< 500 miles distance away bat. ISO p value: \t\t",(stats.ttest_ind(dfGameData0_500['awayISO'], dfGameData['awayISO'])[1]))
print ("< 500 miles distance away pit. H/9 p value: \t\t",(stats.ttest_ind(dfGameData0_500['away Pitching H/9'], dfGameData['away Pitching H/9'])[1]))
print ("< 500 miles distance away pit. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData0_500['away Pitching BB/9'], dfGameData['away Pitching BB/9'])[1]))
print ("< 500 miles distance away pit. K/9 p value: \t\t",(stats.ttest_ind(dfGameData0_500['away Pitching K/9'], dfGameData['away Pitching K/9'])[1]))
print ("< 500 miles distance away pit. ERA p value: \t\t",(stats.ttest_ind(dfGameData0_500['awayERA'], dfGameData['awayERA'])[1]))
print ("< 500 miles distance away pit. FIP p value: \t\t",(stats.ttest_ind(dfGameData0_500['awayFIP'], dfGameData['awayFIP'])[1]))

p values at < 500 miles traveled
--------------------------------
< 500 miles distance count: 				 0
< 500 miles distance away bat. R/9 p value: 		 nan
< 500 miles distance away bat. H/9 p value: 		 nan
< 500 miles distance away bat. BB/9 p value: 		 nan
< 500 miles distance away bat.  K/9 p value: 		 nan
< 500 miles distance away bat. BA p value: 		 nan
< 500 miles distance away bat. OBP p value: 		 nan
< 500 miles distance away bat. SLG p value: 		 nan
< 500 miles distance away bat. ISO p value: 		 nan
< 500 miles distance away pit. H/9 p value: 		 nan
< 500 miles distance away pit. BB/9 p value: 		 nan
< 500 miles distance away pit. K/9 p value: 		 nan
< 500 miles distance away pit. ERA p value: 		 nan
< 500 miles distance away pit. FIP p value: 		 nan

In [73]:
print ("p values at 500 - 1000 miles traveled")
print ("-------------------------------------")
print ("500 - 1000 miles distance count: \t\t\t\t",len(dfGameData500_1000.index))
print ("500 - 1000 miles distance away bat. R/9 p value: \t\t",(stats.ttest_ind(dfGameData500_1000['away Batting R/9'], dfGameData['away Batting R/9'])[1]))
print ("500 - 1000 miles distance away bat. H/9 p value: \t\t",(stats.ttest_ind(dfGameData500_1000['away Batting H/9'], dfGameData['away Batting H/9'])[1]))
print ("500 - 1000 miles distance away bat. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData500_1000['away Batting BB/9'], dfGameData['away Batting BB/9'])[1]))
print ("500 - 1000 miles distance away bat.  K/9 p value: \t\t",(stats.ttest_ind(dfGameData500_1000['away Batting K/9'], dfGameData['away Batting K/9'])[1]))
print ("500 - 1000 miles distance away bat. BA p value: \t\t",(stats.ttest_ind(dfGameData500_1000['awayBA'], dfGameData['awayBA'])[1]))
print ("500 - 1000 miles distance away bat. OBP p value: \t\t",(stats.ttest_ind(dfGameData500_1000['awayOBP'], dfGameData['awayOBP'])[1]))
print ("500 - 1000 miles distance away bat. SLG p value: \t\t",(stats.ttest_ind(dfGameData500_1000['awaySLG'], dfGameData['awaySLG'])[1]))
print ("500 - 1000 miles distance away bat. ISO p value: \t\t",(stats.ttest_ind(dfGameData500_1000['awayISO'], dfGameData['awayISO'])[1]))
print ("500 - 1000 miles distance away pit. H/9 p value: \t\t",(stats.ttest_ind(dfGameData500_1000['away Pitching H/9'], dfGameData['away Pitching H/9'])[1]))
print ("500 - 1000 miles distance away pit. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData500_1000['away Pitching BB/9'], dfGameData['away Pitching BB/9'])[1]))
print ("500 - 1000 miles distance away pit. K/9 p value: \t\t",(stats.ttest_ind(dfGameData500_1000['away Pitching K/9'], dfGameData['away Pitching K/9'])[1]))
print ("500 - 1000 miles distance away pit. ERA p value: \t\t",(stats.ttest_ind(dfGameData500_1000['awayERA'], dfGameData['awayERA'])[1]))
print ("500 - 1000 miles distance away pit. FIP p value: \t\t",(stats.ttest_ind(dfGameData500_1000['awayFIP'], dfGameData['awayFIP'])[1]))

p values at 500 - 1000 miles traveled
-------------------------------------
500 - 1000 miles distance count: 				 0
500 - 1000 miles distance away bat. R/9 p value: 		 nan
500 - 1000 miles distance away bat. H/9 p value: 		 nan
500 - 1000 miles distance away bat. BB/9 p value: 		 nan
500 - 1000 miles distance away bat.  K/9 p value: 		 nan
500 - 1000 miles distance away bat. BA p value: 		 nan
500 - 1000 miles distance away bat. OBP p value: 		 nan
500 - 1000 miles distance away bat. SLG p value: 		 nan
500 - 1000 miles distance away bat. ISO p value: 		 nan
500 - 1000 miles distance away pit. H/9 p value: 		 nan
500 - 1000 miles distance away pit. BB/9 p value: 		 nan
500 - 1000 miles distance away pit. K/9 p value: 		 nan
500 - 1000 miles distance away pit. ERA p value: 		 nan
500 - 1000 miles distance away pit. FIP p value: 		 nan

In [74]:
print ("p values at 1000 - 2000 miles traveled")
print ("--------------------------------------")
print ("1000 - 2000 miles distance count: \t\t\t\t",len(dfGameData1000_2000.index))
print ("1000 - 2000 miles distance away bat. R/9 p value: \t\t",(stats.ttest_ind(dfGameData1000_2000['away Batting R/9'], dfGameData['away Batting R/9'])[1]))
print ("1000 - 2000 miles distance away bat. H/9 p value: \t\t",(stats.ttest_ind(dfGameData1000_2000['away Batting H/9'], dfGameData['away Batting H/9'])[1]))
print ("1000 - 2000 miles distance away bat. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData1000_2000['away Batting BB/9'], dfGameData['away Batting BB/9'])[1]))
print ("1000 - 2000 miles distance away bat.  K/9 p value: \t\t",(stats.ttest_ind(dfGameData1000_2000['away Batting K/9'], dfGameData['away Batting K/9'])[1]))
print ("1000 - 2000 miles distance away bat. BA p value: \t\t",(stats.ttest_ind(dfGameData1000_2000['awayBA'], dfGameData['awayBA'])[1]))
print ("1000 - 2000 miles distance away bat. OBP p value: \t\t",(stats.ttest_ind(dfGameData1000_2000['awayOBP'], dfGameData['awayOBP'])[1]))
print ("1000 - 2000 miles distance away bat. SLG p value: \t\t",(stats.ttest_ind(dfGameData1000_2000['awaySLG'], dfGameData['awaySLG'])[1]))
print ("1000 - 2000 miles distance away bat. ISO p value: \t\t",(stats.ttest_ind(dfGameData1000_2000['awayISO'], dfGameData['awayISO'])[1]))
print ("1000 - 2000 miles distance away pit. H/9 p value: \t\t",(stats.ttest_ind(dfGameData1000_2000['away Pitching H/9'], dfGameData['away Pitching H/9'])[1]))
print ("1000 - 2000 miles distance away pit. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData1000_2000['away Pitching BB/9'], dfGameData['away Pitching BB/9'])[1]))
print ("1000 - 2000 miles distance away pit. K/9 p value: \t\t",(stats.ttest_ind(dfGameData1000_2000['away Pitching K/9'], dfGameData['away Pitching K/9'])[1]))
print ("1000 - 2000 miles distance away pit. ERA p value: \t\t",(stats.ttest_ind(dfGameData1000_2000['awayERA'], dfGameData['awayERA'])[1]))
print ("1000 - 2000 miles distance away pit. FIP p value: \t\t",(stats.ttest_ind(dfGameData1000_2000['awayFIP'], dfGameData['awayFIP'])[1]))

p values at 1000 - 2000 miles traveled
--------------------------------------
1000 - 2000 miles distance count: 				 0
1000 - 2000 miles distance away bat. R/9 p value: 		 nan
1000 - 2000 miles distance away bat. H/9 p value: 		 nan
1000 - 2000 miles distance away bat. BB/9 p value: 		 nan
1000 - 2000 miles distance away bat.  K/9 p value: 		 nan
1000 - 2000 miles distance away bat. BA p value: 		 nan
1000 - 2000 miles distance away bat. OBP p value: 		 nan
1000 - 2000 miles distance away bat. SLG p value: 		 nan
1000 - 2000 miles distance away bat. ISO p value: 		 nan
1000 - 2000 miles distance away pit. H/9 p value: 		 nan
1000 - 2000 miles distance away pit. BB/9 p value: 		 nan
1000 - 2000 miles distance away pit. K/9 p value: 		 nan
1000 - 2000 miles distance away pit. ERA p value: 		 nan
1000 - 2000 miles distance away pit. FIP p value: 		 nan

In [75]:
print ("p values at > 2000 miles traveled")
print ("---------------------------------")
print ("> 2000 miles distance count: \t\t\t\t",len(dfGameData2000.index))
print ("> 2000 miles distance away bat. R/9 p value: \t\t",(stats.ttest_ind(dfGameData2000['away Batting R/9'], dfGameData['away Batting R/9'])[1]))
print ("> 2000 miles distance away bat. H/9 p value: \t\t",(stats.ttest_ind(dfGameData2000['away Batting H/9'], dfGameData['away Batting H/9'])[1]))
print ("> 2000 miles distance away bat. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData2000['away Batting BB/9'], dfGameData['away Batting BB/9'])[1]))
print ("> 2000 miles distance away bat.  K/9 p value: \t\t",(stats.ttest_ind(dfGameData2000['away Batting K/9'], dfGameData['away Batting K/9'])[1]))
print ("> 2000 miles distance away bat. BA p value: \t\t",(stats.ttest_ind(dfGameData2000['awayBA'], dfGameData['awayBA'])[1]))
print ("> 2000 miles distance away bat. OBP p value: \t\t",(stats.ttest_ind(dfGameData2000['awayOBP'], dfGameData['awayOBP'])[1]))
print ("> 2000 miles distance away bat. SLG p value: \t\t",(stats.ttest_ind(dfGameData2000['awaySLG'], dfGameData['awaySLG'])[1]))
print ("> 2000 miles distance away bat. ISO p value: \t\t",(stats.ttest_ind(dfGameData2000['awayISO'], dfGameData['awayISO'])[1]))
print ("> 2000 miles distance away pit. H/9 p value: \t\t",(stats.ttest_ind(dfGameData2000['away Pitching H/9'], dfGameData['away Pitching H/9'])[1]))
print ("> 2000 miles distance away pit. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData2000['away Pitching BB/9'], dfGameData['away Pitching BB/9'])[1]))
print ("> 2000 miles distance away pit. K/9 p value: \t\t",(stats.ttest_ind(dfGameData2000['away Pitching K/9'], dfGameData['away Pitching K/9'])[1]))
print ("> 2000 miles distance away pit. ERA p value: \t\t",(stats.ttest_ind(dfGameData2000['awayERA'], dfGameData['awayERA'])[1]))
print ("> 2000 miles distance away pit. FIP p value: \t\t",(stats.ttest_ind(dfGameData2000['awayFIP'], dfGameData['awayFIP'])[1]))

p values at > 2000 miles traveled
---------------------------------
> 2000 miles distance count: 				 0
> 2000 miles distance away bat. R/9 p value: 		 nan
> 2000 miles distance away bat. H/9 p value: 		 nan
> 2000 miles distance away bat. BB/9 p value: 		 nan
> 2000 miles distance away bat.  K/9 p value: 		 nan
> 2000 miles distance away bat. BA p value: 		 nan
> 2000 miles distance away bat. OBP p value: 		 nan
> 2000 miles distance away bat. SLG p value: 		 nan
> 2000 miles distance away bat. ISO p value: 		 nan
> 2000 miles distance away pit. H/9 p value: 		 nan
> 2000 miles distance away pit. BB/9 p value: 		 nan
> 2000 miles distance away pit. K/9 p value: 		 nan
> 2000 miles distance away pit. ERA p value: 		 nan
> 2000 miles distance away pit. FIP p value: 		 nan

In [76]:
print ("p values at 3 time zones traveled west")
print ("--------------------------------------")
print ("3 hours west traveled count: \t\t\t\t",len(dfGameData3hourswest.index))
print ("3 hours west traveled away bat. R/9 p value: \t\t",(stats.ttest_ind(dfGameData3hourswest['away Batting R/9'], dfGameData['away Batting R/9'])[1]))
print ("3 hours west traveled away bat. H/9 p value: \t\t",(stats.ttest_ind(dfGameData3hourswest['away Batting H/9'], dfGameData['away Batting H/9'])[1]))
print ("3 hours west traveled away bat. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData3hourswest['away Batting BB/9'], dfGameData['away Batting BB/9'])[1]))
print ("3 hours west traveled away bat.  K/9 p value: \t\t",(stats.ttest_ind(dfGameData3hourswest['away Batting K/9'], dfGameData['away Batting K/9'])[1]))
print ("3 hours west traveled away bat. BA p value: \t\t",(stats.ttest_ind(dfGameData3hourswest['awayBA'], dfGameData['awayBA'])[1]))
print ("3 hours west traveled away bat. OBP p value: \t\t",(stats.ttest_ind(dfGameData3hourswest['awayOBP'], dfGameData['awayOBP'])[1]))
print ("3 hours west traveled away bat. SLG p value: \t\t",(stats.ttest_ind(dfGameData3hourswest['awaySLG'], dfGameData['awaySLG'])[1]))
print ("3 hours west traveled away bat. ISO p value: \t\t",(stats.ttest_ind(dfGameData3hourswest['awayISO'], dfGameData['awayISO'])[1]))
print ("3 hours west traveled away pit. H/9 p value: \t\t",(stats.ttest_ind(dfGameData3hourswest['away Pitching H/9'], dfGameData['away Pitching H/9'])[1]))
print ("3 hours west traveled away pit. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData3hourswest['away Pitching BB/9'], dfGameData['away Pitching BB/9'])[1]))
print ("3 hours west traveled away pit. K/9 p value: \t\t",(stats.ttest_ind(dfGameData3hourswest['away Pitching K/9'], dfGameData['away Pitching K/9'])[1]))
print ("3 hours west traveled away pit. ERA p value: \t\t",(stats.ttest_ind(dfGameData3hourswest['awayERA'], dfGameData['awayERA'])[1]))
print ("3 hours west traveled away pit. FIP p value: \t\t",(stats.ttest_ind(dfGameData3hourswest['awayFIP'], dfGameData['awayFIP'])[1]))

p values at 3 time zones traveled west
--------------------------------------
3 hours west traveled count: 				 0
3 hours west traveled away bat. R/9 p value: 		 nan
3 hours west traveled away bat. H/9 p value: 		 nan
3 hours west traveled away bat. BB/9 p value: 		 nan
3 hours west traveled away bat.  K/9 p value: 		 nan
3 hours west traveled away bat. BA p value: 		 nan
3 hours west traveled away bat. OBP p value: 		 nan
3 hours west traveled away bat. SLG p value: 		 nan
3 hours west traveled away bat. ISO p value: 		 nan
3 hours west traveled away pit. H/9 p value: 		 nan
3 hours west traveled away pit. BB/9 p value: 		 nan
3 hours west traveled away pit. K/9 p value: 		 nan
3 hours west traveled away pit. ERA p value: 		 nan
3 hours west traveled away pit. FIP p value: 		 nan

In [77]:
print ("p values at 2 time zones traveled west")
print ("--------------------------------------")
print ("2 hours west traveled count: \t\t\t\t",len(dfGameData2hourswest.index))
print ("2 hours west traveled away bat. R/9 p value: \t\t",(stats.ttest_ind(dfGameData2hourswest['away Batting R/9'], dfGameData['away Batting R/9'])[1]))
print ("2 hours west traveled away bat. H/9 p value: \t\t",(stats.ttest_ind(dfGameData2hourswest['away Batting H/9'], dfGameData['away Batting H/9'])[1]))
print ("2 hours west traveled away bat. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData2hourswest['away Batting BB/9'], dfGameData['away Batting BB/9'])[1]))
print ("2 hours west traveled away bat.  K/9 p value: \t\t",(stats.ttest_ind(dfGameData2hourswest['away Batting K/9'], dfGameData['away Batting K/9'])[1]))
print ("2 hours west traveled away bat. BA p value: \t\t",(stats.ttest_ind(dfGameData2hourswest['awayBA'], dfGameData['awayBA'])[1]))
print ("2 hours west traveled away bat. OBP p value: \t\t",(stats.ttest_ind(dfGameData2hourswest['awayOBP'], dfGameData['awayOBP'])[1]))
print ("2 hours west traveled away bat. SLG p value: \t\t",(stats.ttest_ind(dfGameData2hourswest['awaySLG'], dfGameData['awaySLG'])[1]))
print ("2 hours west traveled away bat. ISO p value: \t\t",(stats.ttest_ind(dfGameData2hourswest['awayISO'], dfGameData['awayISO'])[1]))
print ("2 hours west traveled away pit. H/9 p value: \t\t",(stats.ttest_ind(dfGameData2hourswest['away Pitching H/9'], dfGameData['away Pitching H/9'])[1]))
print ("2 hours west traveled away pit. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData2hourswest['away Pitching BB/9'], dfGameData['away Pitching BB/9'])[1]))
print ("2 hours west traveled away pit. K/9 p value: \t\t",(stats.ttest_ind(dfGameData2hourswest['away Pitching K/9'], dfGameData['away Pitching K/9'])[1]))
print ("2 hours west traveled away pit. ERA p value: \t\t",(stats.ttest_ind(dfGameData2hourswest['awayERA'], dfGameData['awayERA'])[1]))
print ("2 hours west traveled away pit. FIP p value: \t\t",(stats.ttest_ind(dfGameData2hourswest['awayFIP'], dfGameData['awayFIP'])[1]))

p values at 2 time zones traveled west
--------------------------------------
2 hours west traveled count: 				 0
2 hours west traveled away bat. R/9 p value: 		 nan
2 hours west traveled away bat. H/9 p value: 		 nan
2 hours west traveled away bat. BB/9 p value: 		 nan
2 hours west traveled away bat.  K/9 p value: 		 nan
2 hours west traveled away bat. BA p value: 		 nan
2 hours west traveled away bat. OBP p value: 		 nan
2 hours west traveled away bat. SLG p value: 		 nan
2 hours west traveled away bat. ISO p value: 		 nan
2 hours west traveled away pit. H/9 p value: 		 nan
2 hours west traveled away pit. BB/9 p value: 		 nan
2 hours west traveled away pit. K/9 p value: 		 nan
2 hours west traveled away pit. ERA p value: 		 nan
2 hours west traveled away pit. FIP p value: 		 nan

In [78]:
print ("p values at 1 time zone traveled west")
print ("-------------------------------------")
print ("1 hour west traveled count: \t\t\t\t",len(dfGameData1hourswest.index))
print ("1 hour west traveled away bat. R/9 p value: \t\t",(stats.ttest_ind(dfGameData1hourswest['away Batting R/9'], dfGameData['away Batting R/9'])[1]))
print ("1 hour west traveled away bat. H/9 p value: \t\t",(stats.ttest_ind(dfGameData1hourswest['away Batting H/9'], dfGameData['away Batting H/9'])[1]))
print ("1 hour west traveled away bat. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData1hourswest['away Batting BB/9'], dfGameData['away Batting BB/9'])[1]))
print ("1 hour west traveled away bat.  K/9 p value: \t\t",(stats.ttest_ind(dfGameData1hourswest['away Batting K/9'], dfGameData['away Batting K/9'])[1]))
print ("1 hour west traveled away bat. BA p value: \t\t",(stats.ttest_ind(dfGameData1hourswest['awayBA'], dfGameData['awayBA'])[1]))
print ("1 hour west traveled away bat. OBP p value: \t\t",(stats.ttest_ind(dfGameData1hourswest['awayOBP'], dfGameData['awayOBP'])[1]))
print ("1 hour west traveled away bat. SLG p value: \t\t",(stats.ttest_ind(dfGameData1hourswest['awaySLG'], dfGameData['awaySLG'])[1]))
print ("1 hour west traveled away bat. ISO p value: \t\t",(stats.ttest_ind(dfGameData1hourswest['awayISO'], dfGameData['awayISO'])[1]))
print ("1 hour west traveled away pit. H/9 p value: \t\t",(stats.ttest_ind(dfGameData1hourswest['away Pitching H/9'], dfGameData['away Pitching H/9'])[1]))
print ("1 hour west traveled away pit. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData1hourswest['away Pitching BB/9'], dfGameData['away Pitching BB/9'])[1]))
print ("1 hour west traveled away pit. K/9 p value: \t\t",(stats.ttest_ind(dfGameData1hourswest['away Pitching K/9'], dfGameData['away Pitching K/9'])[1]))
print ("1 hour west traveled away pit. ERA p value: \t\t",(stats.ttest_ind(dfGameData1hourswest['awayERA'], dfGameData['awayERA'])[1]))
print ("1 hour west traveled away pit. FIP p value: \t\t",(stats.ttest_ind(dfGameData1hourswest['awayFIP'], dfGameData['awayFIP'])[1]))

p values at 1 time zone traveled west
-------------------------------------
1 hour west traveled count: 				 0
1 hour west traveled away bat. R/9 p value: 		 nan
1 hour west traveled away bat. H/9 p value: 		 nan
1 hour west traveled away bat. BB/9 p value: 		 nan
1 hour west traveled away bat.  K/9 p value: 		 nan
1 hour west traveled away bat. BA p value: 		 nan
1 hour west traveled away bat. OBP p value: 		 nan
1 hour west traveled away bat. SLG p value: 		 nan
1 hour west traveled away bat. ISO p value: 		 nan
1 hour west traveled away pit. H/9 p value: 		 nan
1 hour west traveled away pit. BB/9 p value: 		 nan
1 hour west traveled away pit. K/9 p value: 		 nan
1 hour west traveled away pit. ERA p value: 		 nan
1 hour west traveled away pit. FIP p value: 		 nan

In [79]:
print ("p values at 0 time zone traveled")
print ("--------------------------------")
print ("0 hours traveled count: \t\t\t\t",len(dfGameData0hours.index))
print ("0 hours traveled away bat. R/9 p value: \t\t",(stats.ttest_ind(dfGameData0hours['away Batting R/9'], dfGameData['away Batting R/9'])[1]))
print ("0 hours traveled away bat. H/9 p value: \t\t",(stats.ttest_ind(dfGameData0hours['away Batting H/9'], dfGameData['away Batting H/9'])[1]))
print ("0 hours traveled away bat. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData0hours['away Batting BB/9'], dfGameData['away Batting BB/9'])[1]))
print ("0 hours traveled away bat.  K/9 p value: \t\t",(stats.ttest_ind(dfGameData0hours['away Batting K/9'], dfGameData['away Batting K/9'])[1]))
print ("0 hours traveled away bat. BA p value: \t\t\t",(stats.ttest_ind(dfGameData0hours['awayBA'], dfGameData['awayBA'])[1]))
print ("0 hours traveled away bat. OBP p value: \t\t",(stats.ttest_ind(dfGameData0hours['awayOBP'], dfGameData['awayOBP'])[1]))
print ("0 hours traveled away bat. SLG p value: \t\t",(stats.ttest_ind(dfGameData0hours['awaySLG'], dfGameData['awaySLG'])[1]))
print ("0 hours traveled away bat. ISO p value: \t\t",(stats.ttest_ind(dfGameData0hours['awayISO'], dfGameData['awayISO'])[1]))
print ("0 hours traveled away pit. H/9 p value: \t\t",(stats.ttest_ind(dfGameData0hours['away Pitching H/9'], dfGameData['away Pitching H/9'])[1]))
print ("0 hours traveled away pit. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData0hours['away Pitching BB/9'], dfGameData['away Pitching BB/9'])[1]))
print ("0 hours traveled away pit. K/9 p value: \t\t",(stats.ttest_ind(dfGameData0hours['away Pitching K/9'], dfGameData['away Pitching K/9'])[1]))
print ("0 hours traveled away pit. ERA p value: \t\t",(stats.ttest_ind(dfGameData0hours['awayERA'], dfGameData['awayERA'])[1]))
print ("0 hours traveled away pit. FIP p value: \t\t",(stats.ttest_ind(dfGameData0hours['awayFIP'], dfGameData['awayFIP'])[1]))

p values at 0 time zone traveled
--------------------------------
0 hours traveled count: 				 0
0 hours traveled away bat. R/9 p value: 		 nan
0 hours traveled away bat. H/9 p value: 		 nan
0 hours traveled away bat. BB/9 p value: 		 nan
0 hours traveled away bat.  K/9 p value: 		 nan
0 hours traveled away bat. BA p value: 			 nan
0 hours traveled away bat. OBP p value: 		 nan
0 hours traveled away bat. SLG p value: 		 nan
0 hours traveled away bat. ISO p value: 		 nan
0 hours traveled away pit. H/9 p value: 		 nan
0 hours traveled away pit. BB/9 p value: 		 nan
0 hours traveled away pit. K/9 p value: 		 nan
0 hours traveled away pit. ERA p value: 		 nan
0 hours traveled away pit. FIP p value: 		 nan

In [80]:
print ("p values at 1 time zone traveled east")
print ("-------------------------------------")
print ("1 hour east traveled count: \t\t\t\t",len(dfGameData1hourseast.index))
print ("1 hour east traveled away bat. R/9 p value: \t\t",(stats.ttest_ind(dfGameData1hourseast['away Batting R/9'], dfGameData['away Batting R/9'])[1]))
print ("1 hour east traveled away bat. H/9 p value: \t\t",(stats.ttest_ind(dfGameData1hourseast['away Batting H/9'], dfGameData['away Batting H/9'])[1]))
print ("1 hour east traveled away bat. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData1hourseast['away Batting BB/9'], dfGameData['away Batting BB/9'])[1]))
print ("1 hour east traveled away bat.  K/9 p value: \t\t",(stats.ttest_ind(dfGameData1hourseast['away Batting K/9'], dfGameData['away Batting K/9'])[1]))
print ("1 hour east traveled away bat. BA p value: \t\t",(stats.ttest_ind(dfGameData1hourseast['awayBA'], dfGameData['awayBA'])[1]))
print ("1 hour east traveled away bat. OBP p value: \t\t",(stats.ttest_ind(dfGameData1hourseast['awayOBP'], dfGameData['awayOBP'])[1]))
print ("1 hour east traveled away bat. SLG p value: \t\t",(stats.ttest_ind(dfGameData1hourseast['awaySLG'], dfGameData['awaySLG'])[1]))
print ("1 hour east traveled away bat. ISO p value: \t\t",(stats.ttest_ind(dfGameData1hourseast['awayISO'], dfGameData['awayISO'])[1]))
print ("1 hour east traveled away pit. H/9 p value: \t\t",(stats.ttest_ind(dfGameData1hourseast['away Pitching H/9'], dfGameData['away Pitching H/9'])[1]))
print ("1 hour east traveled away pit. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData1hourseast['away Pitching BB/9'], dfGameData['away Pitching BB/9'])[1]))
print ("1 hour east traveled away pit. K/9 p value: \t\t",(stats.ttest_ind(dfGameData1hourseast['away Pitching K/9'], dfGameData['away Pitching K/9'])[1]))
print ("1 hour east traveled away pit. ERA p value: \t\t",(stats.ttest_ind(dfGameData1hourseast['awayERA'], dfGameData['awayERA'])[1]))
print ("1 hour east traveled away pit. FIP p value: \t\t",(stats.ttest_ind(dfGameData1hourseast['awayFIP'], dfGameData['awayFIP'])[1]))

p values at 1 time zone traveled east
-------------------------------------
1 hour east traveled count: 				 0
1 hour east traveled away bat. R/9 p value: 		 nan
1 hour east traveled away bat. H/9 p value: 		 nan
1 hour east traveled away bat. BB/9 p value: 		 nan
1 hour east traveled away bat.  K/9 p value: 		 nan
1 hour east traveled away bat. BA p value: 		 nan
1 hour east traveled away bat. OBP p value: 		 nan
1 hour east traveled away bat. SLG p value: 		 nan
1 hour east traveled away bat. ISO p value: 		 nan
1 hour east traveled away pit. H/9 p value: 		 nan
1 hour east traveled away pit. BB/9 p value: 		 nan
1 hour east traveled away pit. K/9 p value: 		 nan
1 hour east traveled away pit. ERA p value: 		 nan
1 hour east traveled away pit. FIP p value: 		 nan

In [81]:
print ("p values at 2 time zones traveled east")
print ("--------------------------------------")
print ("2 hours east traveled count: \t\t\t\t",len(dfGameData2hourseast.index))
print ("2 hours east traveled away bat. R/9 p value: \t\t",(stats.ttest_ind(dfGameData2hourseast['away Batting R/9'], dfGameData['away Batting R/9'])[1]))
print ("2 hours east traveled away bat. H/9 p value: \t\t",(stats.ttest_ind(dfGameData2hourseast['away Batting H/9'], dfGameData['away Batting H/9'])[1]))
print ("2 hours east traveled away bat. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData2hourseast['away Batting BB/9'], dfGameData['away Batting BB/9'])[1]))
print ("2 hours east traveled away bat.  K/9 p value: \t\t",(stats.ttest_ind(dfGameData2hourseast['away Batting K/9'], dfGameData['away Batting K/9'])[1]))
print ("2 hours east traveled away bat. BA p value: \t\t",(stats.ttest_ind(dfGameData2hourseast['awayBA'], dfGameData['awayBA'])[1]))
print ("2 hours east traveled away bat. OBP p value: \t\t",(stats.ttest_ind(dfGameData2hourseast['awayOBP'], dfGameData['awayOBP'])[1]))
print ("2 hours east traveled away bat. SLG p value: \t\t",(stats.ttest_ind(dfGameData2hourseast['awaySLG'], dfGameData['awaySLG'])[1]))
print ("2 hours east traveled away bat. ISO p value: \t\t",(stats.ttest_ind(dfGameData2hourseast['awayISO'], dfGameData['awayISO'])[1]))
print ("2 hours east traveled away pit. H/9 p value: \t\t",(stats.ttest_ind(dfGameData2hourseast['away Pitching H/9'], dfGameData['away Pitching H/9'])[1]))
print ("2 hours east traveled away pit. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData2hourseast['away Pitching BB/9'], dfGameData['away Pitching BB/9'])[1]))
print ("2 hours east traveled away pit. K/9 p value: \t\t",(stats.ttest_ind(dfGameData2hourseast['away Pitching K/9'], dfGameData['away Pitching K/9'])[1]))
print ("2 hours east traveled away pit. ERA p value: \t\t",(stats.ttest_ind(dfGameData2hourseast['awayERA'], dfGameData['awayERA'])[1]))
print ("2 hours east traveled away pit. FIP p value: \t\t",(stats.ttest_ind(dfGameData2hourseast['awayFIP'], dfGameData['awayFIP'])[1]))

p values at 2 time zones traveled east
--------------------------------------
2 hours east traveled count: 				 0
2 hours east traveled away bat. R/9 p value: 		 nan
2 hours east traveled away bat. H/9 p value: 		 nan
2 hours east traveled away bat. BB/9 p value: 		 nan
2 hours east traveled away bat.  K/9 p value: 		 nan
2 hours east traveled away bat. BA p value: 		 nan
2 hours east traveled away bat. OBP p value: 		 nan
2 hours east traveled away bat. SLG p value: 		 nan
2 hours east traveled away bat. ISO p value: 		 nan
2 hours east traveled away pit. H/9 p value: 		 nan
2 hours east traveled away pit. BB/9 p value: 		 nan
2 hours east traveled away pit. K/9 p value: 		 nan
2 hours east traveled away pit. ERA p value: 		 nan
2 hours east traveled away pit. FIP p value: 		 nan

In [82]:
print ("p values at 3 time zones traveled east")
print ("--------------------------------------")
print ("3 hours east traveled count: \t\t\t\t",len(dfGameData3hourseast.index))
print ("3 hours east traveled away bat. R/9 p value: \t\t",(stats.ttest_ind(dfGameData3hourseast['away Batting R/9'], dfGameData['away Batting R/9'])[1]))
print ("3 hours east traveled away bat. H/9 p value: \t\t",(stats.ttest_ind(dfGameData3hourseast['away Batting H/9'], dfGameData['away Batting H/9'])[1]))
print ("3 hours east traveled away bat. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData3hourseast['away Batting BB/9'], dfGameData['away Batting BB/9'])[1]))
print ("3 hours east traveled away bat.  K/9 p value: \t\t",(stats.ttest_ind(dfGameData3hourseast['away Batting K/9'], dfGameData['away Batting K/9'])[1]))
print ("3 hours east traveled away bat. BA p value: \t\t",(stats.ttest_ind(dfGameData3hourseast['awayBA'], dfGameData['awayBA'])[1]))
print ("3 hours east traveled away bat. OBP p value: \t\t",(stats.ttest_ind(dfGameData3hourseast['awayOBP'], dfGameData['awayOBP'])[1]))
print ("3 hours east traveled away bat. SLG p value: \t\t",(stats.ttest_ind(dfGameData3hourseast['awaySLG'], dfGameData['awaySLG'])[1]))
print ("3 hours east traveled away bat. ISO p value: \t\t",(stats.ttest_ind(dfGameData3hourseast['awayISO'], dfGameData['awayISO'])[1]))
print ("3 hours east traveled away pit. H/9 p value: \t\t",(stats.ttest_ind(dfGameData3hourseast['away Pitching H/9'], dfGameData['away Pitching H/9'])[1]))
print ("3 hours east traveled away pit. BB/9 p value: \t\t",(stats.ttest_ind(dfGameData3hourseast['away Pitching BB/9'], dfGameData['away Pitching BB/9'])[1]))
print ("3 hours east traveled away pit. K/9 p value: \t\t",(stats.ttest_ind(dfGameData3hourseast['away Pitching K/9'], dfGameData['away Pitching K/9'])[1]))
print ("3 hours east traveled away pit. ERA p value: \t\t",(stats.ttest_ind(dfGameData3hourseast['awayERA'], dfGameData['awayERA'])[1]))
print ("3 hours east traveled away pit. FIP p value: \t\t",(stats.ttest_ind(dfGameData3hourseast['awayFIP'], dfGameData['awayFIP'])[1]))

p values at 3 time zones traveled east
--------------------------------------
3 hours east traveled count: 				 0
3 hours east traveled away bat. R/9 p value: 		 nan
3 hours east traveled away bat. H/9 p value: 		 nan
3 hours east traveled away bat. BB/9 p value: 		 nan
3 hours east traveled away bat.  K/9 p value: 		 nan
3 hours east traveled away bat. BA p value: 		 nan
3 hours east traveled away bat. OBP p value: 		 nan
3 hours east traveled away bat. SLG p value: 		 nan
3 hours east traveled away bat. ISO p value: 		 nan
3 hours east traveled away pit. H/9 p value: 		 nan
3 hours east traveled away pit. BB/9 p value: 		 nan
3 hours east traveled away pit. K/9 p value: 		 nan
3 hours east traveled away pit. ERA p value: 		 nan
3 hours east traveled away pit. FIP p value: 		 nan

In [131]:
#Adjusted run weights for each of the travel distances 
#and time zones, if significant, returns bat, pit

def run_change_miles(distance):
    
    if distance < 500:
        return [1, 1]
    
    if distance >= 500 & distance < 1000:
        return [1, 1]
    
    if distance >= 1000 & distance < 2000:
        return [1, 1]
    
    if distance >= 2000:
        return [(4.469/4.363), (4.261/4.146)]
    
def run_change_tz(time_zone):
    
    if time_zone < -2:
        return [(4.469/4.195), (4.261/3.994)]
    
    if time_zone == -2:
        return [1, 1]
    
    if time_zone == -1:
        return [(4.469/4.591), (4.261/4.391)]
    
    if time_zone == 0:
        return [1, 1]
    
    if time_zone == 1:
        return [(4.469/4.558), (4.261/4.344)]
    
    if time_zone == 2:
        return [1, 1]
    
    if time_zone > 2:
        return [1, 1]

In [84]:
dfGameData['adjAwayScoreMi'] = -1.0
dfGameData['adjAwayScoreTZ'] = -1.0
dfGameData['adjHomeScoreMi'] = -1.0
dfGameData['adjHomeScoreTZ'] = -1.0

In [132]:
#Loop through an calculate the adjusted scores for every game (home and away)

for i, row in dfGameData.iterrows():
    
    dist = row['distance']
    tz = row['timeZoneChange']
    
    adj_away_score_mi = row['awayScore']*(run_change_miles(dist)[0])
    dfGameData.set_value(i, 'adjAwayScoreMi', adj_away_score_mi)
    
    adj_away_score_tz = row['awayScore']*(run_change_tz(tz)[0])
    dfGameData.set_value(i, 'adjAwayScoreTZ', adj_away_score_tz)
    
    adj_home_score_mi = row['homeScore']*(run_change_miles(dist)[1])
    dfGameData.set_value(i, 'adjHomeScoreMi', adj_home_score_mi)
    
    adj_home_score_tz = row['homeScore']*(run_change_tz(tz)[1])
    dfGameData.set_value(i, 'adjHomeScoreTZ', adj_home_score_tz)

In [116]:
dfGameData['year'] = int(str(dfGameData['date'])[:4])
dfGameData['date'].head(100000)

2        20000403
3        20000403
4        20000403
6        20000403
7        20000403
8        20000403
9        20000403
10       20000403
11       20000403
12       20000403
13       20000403
14       20000404
15       20000404
16       20000404
17       20000404
19       20000404
20       20000404
21       20000404
22       20000404
23       20000404
24       20000404
25       20000404
26       20000405
27       20000405
28       20000405
29       20000405
31       20000405
32       20000405
33       20000405
34       20000405
           ...
65289    19901001
65290    19901001
65291    19901001
65293    19901001
65294    19901001
65295    19901001
65296    19901002
65297    19901002
65298    19901002
65299    19901002
65300    19901002
65301    19901002
65302    19901002
65303    19901002
65304    19901002
65306    19901002
65307    19901002
65308    19901002
65309    19901003
65310    19901003
65311    19901003
65312    19901003
65313    19901003
65314    19901003
65315    19901003
65316    19901003
65317    19901003
65319    19901003
65320    19901003
65321    19901003
Name: date, Length: 64138, dtype: int64

In [117]:
dfYearData = dfGameData.groupby(['awayTeam']).sum()

In [118]:
dfYearData.head(50)

,date,awayScore,homeScore,lengthInOuts,attendance,awayAB,awayH,away2B,away3B,awayHR,...,away Pitching H/9,away Pitching BB/9,away Pitching K/9,awayERA,awayFIP,year,adjAwayScoreMi,adjAwayScoreTZ,adjHomeScoreMi,adjHomeScoreTZ
awayTeam,,,,,,,,,,,,,,,,,,,,,
ANA,34040120682,8165,7746,90612,48276614.0,59583,15789,3131,310,1760,...,15735.689931,5874.653436,11439.169730,7684.834257,7868.533582,3392,8165.0,8163.850706,7746.0,7746.142853
ARI,31982423136,6793,7025,85819,50600025.0,55546,13752,2725,280,1609,...,14416.559303,5340.750887,11873.345167,6336.548826,6951.245589,3186,6793.0,6779.130108,7025.0,7010.180803
ATL,42724633203,9692,8789,114726,65646328.0,74440,19066,3754,360,2255,...,18956.132468,7095.239735,14862.810639,9061.203372,8881.607248,4264,9692.0,9789.840958,8789.0,8875.419625
BAL,44702877740,10334,10881,119216,62938608.0,78458,20428,4111,344,2371,...,21372.382203,8309.562075,14514.552669,9762.907699,10674.865854,4462,10334.0,10385.787000,10881.0,10932.728194
BOS,44423044517,10558,9955,119367,70829275.0,78274,20299,3902,374,2526,...,19782.280124,7609.334788,15673.333364,9925.222453,9894.011039,4434,10558.0,10609.773403,9955.0,10003.861395
CAL,10542847060,2309,2539,28163,14330088.0,18408,4821,863,91,438,...,5089.027098,2054.973951,3074.486014,2139.889510,2517.192075,1058,2309.0,2459.814303,2539.0,2708.732849
CHA,44782435654,10385,10499,119897,62939744.0,78407,20557,3886,404,2298,...,21030.713861,7772.689948,14519.654658,9789.106181,10245.290718,4470,10385.0,10305.577786,10499.0,10418.140222
CHN,43126329178,9383,9671,115458,71497066.0,75244,19002,3774,400,2225,...,19265.763370,7863.451800,15647.074114,8739.113214,9547.852363,4304,9383.0,9288.396019,9671.0,9575.832878
CIN,43345644251,9510,9933,116331,66675676.0,75564,19240,3716,424,2166,...,20311.071632,7553.796888,14490.847685,8877.692942,9831.733495,4326,9510.0,9544.402052,9933.0,9960.876165
CLE,44802453580,10889,10610,119808,62988320.0,78852,20852,4173,426,2477,...,21232.983036,7646.317741,14980.614745,10319.943243,10182.840121,4472,10889.0,10887.537542,10610.0,10604.376925
COL,38965288597,7619,9112,103472,59525475.0,66409,16120,3189,310,1810,...,18225.158541,7452.971379,12820.202185,7237.773676,9024.636108,3886,7619.0,7506.803361,9112.0,8966.611129
DET,44722728982,10328,11328,119354,62091827.0,78682,20520,4112,387,2412,...,22029.340963,8083.243942,13949.535252,9773.415111,10731.724012,4464,10328.0,10327.030814,11328.0,11329.731153
FLO,28454315718,6288,7004,75770,42626854.0,49560,12798,2565,238,1404,...,13778.220480,5541.785190,9099.591184,5930.203696,6745.032448,2842,6288.0,6329.900270,7004.0,7048.398763
HOU,43325650802,9687,10183,115751,62079370.0,75213,19232,3798,326,2104,...,20616.299163,7621.577210,14848.610134,8982.232169,9860.158536,4324,9687.0,9600.198713,10183.0,10088.862336
KCA,44722948784,9670,10658,119166,61423610.0,78074,20173,3846,416,1959,...,21238.249326,8228.574500,14616.816683,9079.054745,10715.169567,4464,9670.0,9591.791061,10658.0,10567.213522
LAN,43285117579,9860,9452,116324,70306465.0,75761,19717,3679,489,2059,...,19404.743318,7473.180202,15810.442628,9189.908154,9137.050256,4320,9860.0,9840.309954,9452.0,9431.745457
MIA,9770638419,1898,2240,25993,14193442.0,17031,4319,777,94,438,...,4530.187662,1722.277572,3598.223052,1794.157767,2162.434404,970,1898.0,2021.969487,2240.0,2389.744617
MIL,44362338103,9919,10455,118503,64561320.0,77224,19812,3899,396,2251,...,21068.743446,7948.132775,14374.980583,9345.607109,10384.634257,4428,9919.0,9839.324880,10455.0,10369.394036
MIN,44622947244,10007,10683,119080,61254984.0,78154,20309,3948,393,2001,...,22057.184840,6884.199925,13375.641296,9261.021429,10551.209257,4454,10007.0,9927.909976,10683.0,10597.927659
MON,23984846527,4994,5432,64461,31961709.0,41670,10512,1993,262,1073,...,11064.820113,4184.103863,7810.793880,4568.196346,5392.479376,2402,4994.0,5320.187366,5432.0,5795.130696
NYA,44642743426,11249,10286,119610,74480568.0,78929,20986,4079,369,2533,...,20884.058014,7558.567209,15522.472272,10578.977915,9731.893348,4456,11249.0,11301.298786,10286.0,10335.409517
NYN,42525283886,9742,9616,113660,66441845.0,74105,19171,3796,386,2145,...,19950.063673,7089.761382,14445.857893,9131.412893,9440.980091,4244,9742.0,9828.162572,9616.0,9701.768105
OAK,44762629388,10686,10727,119569,65983501.0,78397,20053,4016,300,2467,...,21384.598989,8047.957805,14418.589723,10135.535177,10480.550321,4468,10686.0,10701.622718,10727.0,10740.522108
PHI,42525843735,9339,9905,113608,63011849.0,74364,18989,3672,426,1962,...,19975.094417,7411.474453,14139.444232,8705.505172,9688.028474,4244,9339.0,9412.055916,9905.0,9984.942412
PIT,43146300927,9111,10335,115292,64965935.0,74910,18875,3628,443,1935,...,20831.029944,7760.694987,14081.561170,8537.743463,10051.109629,4306,9111.0,9143.343262,10335.0,10346.998820
SDN,43425544133,9692,10471,115979,66464140.0,75674,19364,3862,371,2033,...,20743.644730,7744.470504,14748.590047,9050.938824,10000.646574,4334,9692.0,9672.267470,10471.0,10451.432737
SEA,44881829853,10587,10855,119835,63423025.0,79151,20975,3932,371,2434,...,21383.440007,7992.234480,14632.615731,10027.831607,10595.662973,4480,10587.0,10600.744093,10855.0,10868.044626
SFN,43245705226,9967,10019,115885,69630862.0,75825,19664,3756,421,2236,...,19938.276300,7885.662930,14412.776682,9303.236468,9974.196470,4316,9967.0,9949.892206,10019.0,10001.390879
SLN,43186349466,10024,9719,115454,66535076.0,75270,19639,3801,385,2216,...,20335.741434,6976.811301,13987.105195,9422.649101,9655.479204,4310,10024.0,9929.709764,9719.0,9621.383685
TBA,32402697346,7158,7945,85992,46309177.0,56353,14429,2899,310,1680,...,15305.311364,5954.008741,11097.106843,6815.270804,7767.544636,3228,7158.0,7189.800999,7945.0,7984.695070
TEX,44502868741,10490,10808,118767,61801591.0,78204,20275,4053,322,2528,...,21306.676475,8297.490617,14346.965161,9826.247858,10450.212158,4442,10490.0,10413.741329,10808.0,10730.644221
TOR,44282281802,10281,10159,118562,62085617.0,77743,20061,3952,349,2393,...,20535.618956,7796.874426,14643.765534,9686.032730,10108.998303,4420,10281.0,10333.384774,10159.0,10199.248126
WAS,21176530850,4513,4665,56430,32297823.0,36487,9094,1862,177,1096,...,9644.118931,3629.017445,7585.381381,4268.327547,4628.826100,2106,4513.0,4555.817119,4665.0,4704.780910

In [121]:
dfWPChange = dfYearData[['awayScore', 'homeScore', 'adjAwayScoreMi', 'adjHomeScoreMi', 'adjAwayScoreTZ', 'adjHomeScoreTZ']].copy()

In [141]:
dfWPChange.head(35)

,awayScore,homeScore,adjAwayScoreMi,adjHomeScoreMi,adjAwayScoreTZ,adjHomeScoreTZ,baseWP,adjMilesWP,adjMilesTZ,adjTZWP,WinsChange
awayTeam,,,,,,,,,,,
ANA,8165,7746,8165.0,7746.0,8163.850706,7746.142853,0.526316,0.526316,0.526236,0.526236,-0.006430
ARI,6793,7025,6793.0,7025.0,6779.130108,7010.180803,0.483215,0.483215,0.483249,0.483249,0.002745
ATL,9692,8789,9692.0,8789.0,9789.840958,8875.419625,0.548745,0.548745,0.548873,0.548873,0.010419
BAL,10334,10881,10334.0,10881.0,10385.787000,10932.728194,0.474233,0.474233,0.474361,0.474361,0.010344
BOS,10558,9955,10558.0,9955.0,10609.773403,10003.861395,0.529371,0.529371,0.529368,0.529368,-0.000181
CAL,2309,2539,2309.0,2539.0,2459.814303,2708.732849,0.452664,0.452664,0.451951,0.451951,-0.057762
CHA,10385,10499,10385.0,10499.0,10305.577786,10418.140222,0.494541,0.494541,0.494569,0.494569,0.002199
CHN,9383,9671,9383.0,9671.0,9288.396019,9575.832878,0.484889,0.484889,0.484766,0.484766,-0.009891
CIN,9510,9933,9510.0,9933.0,9544.402052,9960.876165,0.478254,0.478254,0.478658,0.478658,0.032681
CLE,10889,10610,10889.0,10610.0,10887.537542,10604.376925,0.512975,0.512975,0.513173,0.513173,0.016019
COL,7619,9112,7619.0,9112.0,7506.803361,8966.611129,0.411469,0.411469,0.412074,0.412074,0.049010
DET,10328,11328,10328.0,11328.0,10327.030814,11329.731153,0.453922,0.453922,0.453799,0.453799,-0.009904
FLO,6288,7004,6288.0,7004.0,6329.900270,7048.398763,0.446289,0.446289,0.446448,0.446448,0.012906
HOU,9687,10183,9687.0,10183.0,9600.198713,10088.862336,0.475053,0.475053,0.475196,0.475196,0.011579
KCA,9670,10658,9670.0,10658.0,9591.791061,10567.213522,0.451512,0.451512,0.451727,0.451727,0.017411
LAN,9860,9452,9860.0,9452.0,9840.309954,9431.745457,0.521117,0.521117,0.521190,0.521190,0.005912
MIA,1898,2240,1898.0,2240.0,2021.969487,2389.744617,0.417912,0.417912,0.417212,0.417212,-0.056707
MIL,9919,10455,9919.0,10455.0,9839.324880,10369.394036,0.473710,0.473710,0.473788,0.473788,0.006330
MIN,10007,10683,10007.0,10683.0,9927.909976,10597.927659,0.467362,0.467362,0.467392,0.467392,0.002434
MON,4994,5432,4994.0,5432.0,5320.187366,5795.130696,0.458064,0.458064,0.457349,0.457349,-0.057875
NYA,11249,10286,11249.0,10286.0,11301.298786,10335.409517,0.544629,0.544629,0.544552,0.544552,-0.006173
NYN,9742,9616,9742.0,9616.0,9828.162572,9701.768105,0.506509,0.506509,0.506472,0.506472,-0.003005
OAK,10686,10727,10686.0,10727.0,10701.622718,10740.522108,0.498085,0.498085,0.498186,0.498186,0.008146
PHI,9339,9905,9339.0,9905.0,9412.055916,9984.942412,0.470614,0.470614,0.470491,0.470491,-0.009940
PIT,9111,10335,9111.0,10335.0,9143.343262,10346.998820,0.437305,0.437305,0.438478,0.438478,0.095035
SDN,9692,10471,9692.0,10471.0,9672.267470,10451.432737,0.461422,0.461422,0.461339,0.461339,-0.006746
SEA,10587,10855,10587.0,10855.0,10600.744093,10868.044626,0.487503,0.487503,0.487551,0.487551,0.003900
SFN,9967,10019,9967.0,10019.0,9949.892206,10001.390879,0.497398,0.497398,0.497419,0.497419,0.001669
SLN,10024,9719,10024.0,9719.0,9929.709764,9621.383685,0.515445,0.515445,0.515766,0.515766,0.026043
TBA,7158,7945,7158.0,7945.0,7189.800999,7984.695070,0.448032,0.448032,0.447760,0.447760,-0.022070
TEX,10490,10808,10490.0,10808.0,10413.741329,10730.644221,0.485072,0.485072,0.485016,0.485016,-0.004581
TOR,10281,10159,10281.0,10159.0,10333.384774,10199.248126,0.505968,0.505968,0.506533,0.506533,0.045692
WAS,4513,4665,4513.0,4665.0,4555.817119,4704.780910,0.483443,0.483443,0.483918,0.483918,0.038491

In [138]:
dfWPChange['baseWP'] = (dfWPChange['awayScore']**2)/((dfWPChange['awayScore']**2)+(dfWPChange['homeScore']**2))
dfWPChange['adjMilesWP'] = (dfWPChange['adjAwayScoreMi']**2)/((dfWPChange['adjAwayScoreMi']**2)+(dfWPChange['adjHomeScoreMi']**2))
dfWPChange['adjTZWP'] = (dfWPChange['adjAwayScoreTZ']**2)/((dfWPChange['adjAwayScoreTZ']**2)+(dfWPChange['adjHomeScoreTZ']**2))
dfWPChange['WinsChange'] = (((dfWPChange['adjMilesWP']+dfWPChange['adjTZWP'])/2)*162)-(dfWPChange['baseWP']*162)